@import "../style-scss/import";

.mu-chip {
    border-radius: 16px;
    line-height: 32px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    background-color: darken($alternateTextColor, 12%);
    color: rgba($textColor, .87);
    padding: 0 12px;
    cursor: default;
    .mu-avatar:first-child{
        margin-left: -12px;
        margin-right: 4px;
    }
    &.active {
        box-shadow: 0 1px 6px rgba($fullBlack, .12), 0 1px 4px rgba($fullBlack, .12);
    }
    &.hover{
        .mu-chip-delete-icon{
            color: rgba(rgba($textColor, .26), .4);
        }
        background-color: rgb(206, 206, 206);
        cursor: pointer;
    }
}
.mu-chip-delete-icon{
    display: inline-block;
    margin-right: -8px;
    margin-left: 4px;
    color: rgba($textColor, .26);
    fill: currentColor;
    height: 24px;
    width: 24px;
    user-select: none;
    transition: all 450ms $easeOutFunction;
}