@import "../style-scss/import";

.mu-dropDown-menu {
    display: inline-block;
    font-size: 15px;
    height: 48px;
    position: relative;
    transition: all .45s $easeOutFunction;
    cursor: pointer;
    overflow: hidden;
    &.disabled {
        color: $disabledColor;
        cursor: not-allowed;
    }
}

.mu-dropDown-menu-icon {
    position: absolute;
    right: 16px;
    top: 16px;
    color: $borderColor;
    fill: currentColor;
    display: inline-block;
    width: 24px;
    height: 24px;
    user-select: none
}

.mu-dropDown-menu-text {
    padding-left: 24px;
    padding-right: 48px;
    line-height: 56px;
    opacity: 1;
    position: relative;
    color: $textColor;
    .mu-dropDown-menu.disabled & {
        color: $disabledColor;
    }
}

.mu-dropDown-menu-text-overflow {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.mu-dropDown-menu-line {
    bottom: 1px;
    left: 0;
    margin: -1px 24px;
    right: 0;
    position: absolute;
    height: 1px;
    background-color: $borderColor;
    transition: all .45s $easeOutFunction;
    html.pixel-ratio-2 & {
        @include transform(scaleY(0.5));
    }
    html.pixel-ratio-3 & {
        @include transform(scaleY(0.33));
    }
}