@import "../style-scss/import";

.ui-paper {
    transition: all .45s $easeOutFunction;
    color: $textColor;
    background-color: $dialogBackgroundColor;
    @include depth(1);
}

.ui-paper-round {
    border-radius: 2px;
}

.ui-paper-circle {
    border-radius: 50%;
}

.ui-paper-1 {
    @include depth(1);
}

.ui-paper-2 {
    @include depth(2);
}

.ui-paper-3 {
    @include depth(4);
}

.ui-paper-4 {
    @include depth(4);
}

.ui-paper-5 {
    @include depth(5);
}
